.nav-link{
    font-size:62px ;
}
.lard{
    text-align: center;
}
.welcome {
    font-family: Lucida;
    font-size: 65px;
}
.paragraph {
    font-size: 20px;
    font-family: Lucida;
}
body{
    background-image: linear-gradient(45deg,rgb(215, 250, 247),rgb(199, 150, 255),rgb(98, 178, 253),rgb(56, 145, 248),rgb(128, 26, 245)); 
    background-size: 400% 400%;
    width: 100%;
    height: 100%;
    animation: animate 5s infinite alternate;
}
.products{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card {
    background-image: linear-gradient(45deg,rgb(215, 250, 247),rgb(199, 150, 255),rgb(98, 178, 253),rgb(56, 145, 248),rgb(128, 26, 245)); 
    animation: animate 5s infinite alternate;
}
@keyframes animate {
   0% {
    background-position: left;
   }
   50% {
    background-position: center;
   }
   100% {
    background-position: right;
   }
}
.ggg{
    font-size: 20px;
}
.producttext{
    text-align: center;
    font-family: Lucida;
}
.card{
    margin-right: 8%;
    margin-top: 2%;
}
.link:link{
    text-decoration: none;
}
.link:hover {
    color:goldenrod;
}
a{
    color:black
}
.copy{
    font-size: smaller;
    text-align:justify;
}
.nav-item {
    font-size: 40px; 
    font-family: Lucida ; 
    background-image: linear-gradient(45deg,red,blue); 
    background-size: 400% 400%;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    animation: animated_text 5s infinite alternate;
    -moz-animation: animated_text 5s infinite alternate;
    -webkit-animation: animated_text 5s infinite alternate;
}
.nav-item:hover {  
    font-size: 47px; 
    font-family: Lucida; 
    background-image: linear-gradient(45deg,red,skyblue, blue); 
    background-size: 400% 400%;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    animation: animated_text 5s infinite alternate;
    -moz-animation: animated_text 5s infinite alternate;
    -webkit-animation: animated_text 5s infinite alternate;
}

@keyframes animated_text {
	0% {
        background-position: left;
       }
       50% {
        background-position: center;
       }
       100% {
        background-position: right;
       }
}
.navbar {
    margin-bottom: 20px;
    display: flex;
    background-image: linear-gradient(45deg,rgb(215, 250, 247),rgb(199, 150, 255),rgb(98, 178, 253),rgb(56, 145, 248),rgb(128, 26, 245)); 
    background-size: 400% 400%;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    animation: animated_text 5s infinite alternate;
    -moz-animation: animated_text 5s infinite alternate;
    -webkit-animation: animated_text 5s infinite alternate;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
    .brand-name {
    font-family: Lucida;
    font-size: 47px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    }
    
    .nav-container {
    padding-top: 8px;
    }
    
    .navbar-custom {
    font-size: 20px;
    background-color: #FFF;
    }

    .contact {
        font-family: Lucida;
    }
    
    footer {
        font-family: Lucida;
    }
    $count: 500;

@function randomNum($max, $min: 0, $u: 1) {
	@return ($min + random($max)) * $u;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 15vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(118, 218, 255, .8);
    z-index: -1;
}


